<% layout('layouts/boilerplate') %>

<h1>Welcome to OSINT Platform</h1>
<p>This is the homepage. Choose to log in or sign up to continue.</p>
<a class="btn-secondary" href="/challenges">Show challenges</a>